{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if post.author-url %}
  {% assign author-url = post.author-url %}
{% elsif page.author-url %}
  {% assign author-url = page.author-url %}
{% else %}
  {% assign author-url = site.author-url %}
{% endif %}

{% if author-url %}
  by <span class="author"><a href="{{ author-url }}">{{ author }}</a></span>
{% else %}
  by <span class="author">{{ author }}</span>
{% endif %}