<div style="float: left;">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</div>

<div id="language-switch" style="float: right;">
{% t global.language-switch %} - 
{% if page.language == "ja" %}
  {% capture link1 %}{{ site.baseurl }}/en/{{ page.url | remove_language }}{% endcapture %}
  <a href="{{ link1 }}" >{% t global.english %}</a>
{% else if page.language == "en" %}
  {% capture link2 %}{{ site.baseurl }}/ja/{{ page.url | remove_language }}{% endcapture %}
  <a href="{{ link2 }}" >{% t global.japanese %}</a>
{% endif %}
</div>
