{% capture category %}{{ post.categories | size }}{% endcapture %}
<header>
  <h1 class="entry-title">
    <a href="{{ root_url }}{{ post.url }}"><!--
   --><span>{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</span><!--

      {% comment %} 選択中の言語と違う言語の記事は、タイトルの横にその言語名を表示 {% endcomment %}
      {% if page.language == "ja" %}
        {% if post.written-language == "en" %}
     --><span>（英語）</span><!--
        {% endif %}
      {% else if page.language == "en" %}
        {% if post.written-language == "ja" %}
     --><span> (Japanese)</span><!--
        {% endif %}
      {% endif %}
  --></a>
  </h1>

  <div class="meta">
    <!-- 投稿者と投稿日 -->
    {% include post/date.html %}{{ time }}·
    <!-- /投稿者と投稿日 -->

    {% if category != '0' %}
        <span class="categories"><!--
       -->posted in&nbsp;<!--

          {% for category in post.categories %}
         --><a class="category" href="/{{ post.language }}/blog/categories/{{ category }}">{{ category | capitalize }}</a><!--
         -->{% if forloop.length > forloop.index %}, {% endif %}<!--
          {% endfor %}
     --></span>

    {% endif %}
  </p>
</header>

{% comment %}
  <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>

  <footer>

  </footer>
{% endcomment %}
