@import "partials/base";

// Global reset style
@include global-reset;

// =============================================================================
// Additional reset
// =============================================================================

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  //-webkit-touch-callout: none;
  
  //@include user-select(none);
  
  -webkit-text-size-adjust: none;
  
  cursor: default;
}

button,
a[ng-click] {
  outline: none;
}

// =============================================================================
// Mixins
// =============================================================================

// =====================================
// Responsive Units
// =====================================

@mixin px-with-rem($property, $value) {
  #{$property}: $value+px;
  #{$property}: $value/10+rem; // `rem` supported browser: Firefox3.6+, Chrome, Safari5, IE9+
}

// =====================================
// Font
// =====================================

@mixin font-weight($value) {
  @if $value == thin {
    font-weight: 100;
  } @else if $value == extra-light {
    font-weight: 200;
  } @else if $value == light {
    font-weight: 300;
  } @else if $value == normal {
    font-weight: 400;
  } @else if $value == medium {
    font-weight: 500;
  } @else if $value == demi-bold {
    font-weight: 600;
  } @else if $value == bold {
    font-weight: 700;
  } @else if $value == heavy {
    font-weight: 800;
  } @else if $value == black {
    font-weight: 900;
  } @else {
    font-weight: 400;
  }
}

// =====================================
// Layout
// =====================================

@mixin position($position, $top, $right, $bottom, $left, $z-index) {
  position: $position;

  @if $top != '' {
    top: $top;
  }

  @if $right != '' {
    right: $right;
  }

  @if $bottom != '' {
    bottom: $bottom;
  }

  @if $left != '' {
    left: $left;
  }

  @if $z-index != '' {
    z-index: $z-index;
  }
}

@mixin vertical-center($position: relative) {
  position: $position;
  top: 50%;
  @include transform(translateY(-50%));
}

// =============================================================================
// Configuration
// =============================================================================

$horizontal-padding: 10px;

// =====================================
// Breakpoint
// (http://breakpoint-sass.com/)
// =====================================

$breakpoint-desktop: 960 + $horizontal-padding * 2;
$breakpoint-tablet: 768 + $horizontal-padding * 2;
// otherwise mobile (mobile first)

// =====================================
// Susy
// (http://susy.oddbird.net/)
// =====================================

$susy: (
  container: 980px,
  columns: 12,
  gutters: 1/3,
  global-box-sizing: border-box,
  use-custom: (rem: true),
  debug: (
    //image: show,
    color: rgba(255,0,0,.1),
    output: background
  ),
);

@include border-box-sizing;

// =====================================
// Vertical Rhythm
// =====================================

$gutter-height: 12;

// =====================================
// Compass Vertical Rhythm
// (http://compass-style.org/reference/compass/typography/vertical_rhythm/)
// =====================================

//$base-line-height: $gutter-height + px;
$base-line-height: $gutter-height / 10 + rem;

$grid-background-baseline-color: rgba(0, 0, 0, 0.1);

// =============================================================================
// Main style
// =============================================================================

html {
  font-size: 62.5%; // this mean 1em equal to 10px
}

body {
  min-width: 320px;

  // English Web Safe Fonts
  // (http://www.cssfontstack.com/)
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  // English Web Fonts 
  // (http://www.cssfontstack.com/Web-Fonts)

  // Japanese Web Safe Fonts
  //（http://www.dtp-transit.jp/misc/web/post_1881.html）
  // 1. ゴシック体
  //font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  // 2. 明朝体
  // font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  // 3. 等幅書体
  // font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
  // 4. OS X限定 丸ゴシック体
  // font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy;

  //font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

  &.language-ja {
    font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

    input {
      font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }
  }

  &.language-en {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
    input {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  
  @include px-with-rem(font-size, 16);
  @include px-with-rem(line-height, $gutter-height * 2);
}

// =====================================
// Container
// =====================================

#main-container {
  position: relative;
  overflow: hidden;
  background: #fff;
} // #main-container

.container {
  position: relative;
  @include container;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  @include clearfix;
} // .container

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: none;
  background: rgba(0,0,0,.5);
} // .overlay

// =====================================
// Sprites
// =====================================

$main-sprite: get-sprite("sprite@2x");

%main-sprite-base {
  @include sprite-base($main-sprite, 2);
}

// =====================================
// Icons
// =====================================

.icon {
  @extend %main-sprite-base;
  @include hide-text;

  &.menu {
    @include sprite-part($main-sprite, 'icon-menu@2x', 2);
  }

  &.search {
    @include sprite-part($main-sprite, 'icon-search@2x', 2);
  }

  &.github {
    @include sprite-part($main-sprite, 'icon-github@2x', 2);
  }

  &.twitter {
    @include sprite-part($main-sprite, 'icon-twitter@2x', 2);
  }

  &.rss {
    @include sprite-part($main-sprite, 'icon-rss@2x', 2);
  }
}

// =============================================================================
// Header
// =============================================================================

#header {
  @include position(fixed, '', 0, '', 0, 2);
  @include px-with-rem(height, $gutter-height * 4);
  background: #222;

  @include breakpoint($breakpoint-tablet) {
    position: relative;
    height: auto;
    background: transparent;
  }
  
  .container {
    
  }
  
  .logo {
    display: block;
    @include hide-text;
    @include image-background('logo-small-dark@2x.png', 2);
    @include px-with-rem(height, $gutter-height * 4);
    background-position: center;

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      @include px-with-rem(height, $gutter-height * 24);
      @include background(image-url('logo-middle-light@2x.png') no-repeat);
      @include background-size(contain);
      background-position: center;
    }

    @include breakpoint($breakpoint-desktop) {
      width: 100%;
      @include px-with-rem(height, $gutter-height * 24);
      @include background(image-url('logo-large-light@2x.png') no-repeat);
      @include background-size(contain);
      background-position: center;
    }
  } // .logo

  .navigation-toggle {
    @include position(absolute, 50%, 10px, '', '', 0);
    @include transform(translateY(-50%));
 
    @include hide-text;
    @extend %main-sprite-base;
    @include sprite-part($main-sprite, 'icon-menu@2x', 2);
    border: none;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  } // .navigation-toggle

  .main-navigation {
    @include position(fixed, '', 0, '', 0, 2);
    @include px-with-rem(top, $gutter-height * 4);

    display: none;

    @include breakpoint($breakpoint-tablet) {
      position: relative;
      top: 0;
      display: block !important;
      @include span(full);
    }

    ul {
      li {
        border-top: 1px solid #fff;
        &:last-child {
          border-bottom: 1px solid #fff;
        }

        a {
          display: block;
          color: #fff;
          text-align: center;
          @include px-with-rem(font-size, 16);
          @include px-with-rem(line-height, $gutter-height * 3);
          text-decoration: none;
          background: #DF483D;

          &:hover,
          &:active,
          &.active {
            color: #DF483D;
            background: #fff;
          }
        }
      }
    }

    .search-form {
      position: relative;

      .search {
        display: block;
        padding-right: 25px;

        color: #DF483D;
        @include px-with-rem(font-size, 16);
        @include px-with-rem(line-height, $gutter-height * 2);

        border: none;
        border-bottom: 1px solid #DF483D;
        outline: none;
      }

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: 0;
        display: block;
        @extend %main-sprite-base;
        @include sprite-part($main-sprite, 'icon-search-active@2x', 2);
      }
    } // .search-form

    @include breakpoint($breakpoint-tablet) {
      ul {
        @include px-with-rem(line-height, $gutter-height * 5);
        text-align: right;

        li {
          display: inline-block;
          
          margin-right: gutter();
          border-top: none;

          &:last-child {
            border-bottom: none;
            margin-right: auto;
          }

          a {
            color: #DF483D;
            background: transparent;

            &:hover,
            &:active,
            &.active {
              text-decoration: underline;
              background: transparent;
            }
          } // a
        } // li
      } // ul
    } // $breakpoint-tablet
  } // .main-navigation
} // #header

// =============================================================================
// Content
// =============================================================================

#content {
  @include px-with-rem(padding-top, $gutter-height * 4);

  @include breakpoint($breakpoint-tablet) {
    //@include px-with-rem(padding-top, $gutter-height);
    padding-top: 0;
  }

  .container {
    @include px-with-rem(padding-top, $gutter-height);
  }

  // =====================================
  // Archives
  // =====================================

  .blog-index {
    > header {
      @include px-with-rem(margin-bottom, $gutter-height);

      .category-title {
        @include px-with-rem(font-size, 24);
        @include font-weight(bold);
        @include px-with-rem(line-height, $gutter-height * 3);
        text-decoration: underline;
      }
    }

    @include breakpoint($breakpoint-desktop) {
      @include span(8);
    }
  }

  .blog-archives {
    .year {
      @include px-with-rem(margin-bottom, $gutter-height);
      
      @include px-with-rem(font-size, 24);
      @include font-weight(bold);
      @include px-with-rem(line-height, $gutter-height * 3);
      text-decoration: underline;
    }

    @include breakpoint($breakpoint-desktop) {
      @include span(8);
    }
  }

  .blog-post {
    @include breakpoint($breakpoint-desktop) {
      @include span(8);
    }
  }

  .blog-page {
    @include breakpoint($breakpoint-desktop) {
      @include span(8);
    }
  }

  // =====================================
  // Article
  // =====================================

  article {
    @include px-with-rem(margin-bottom, $gutter-height);

    header {
      .entry-title {
        @include px-with-rem(font-size, 20);
        @include font-weight(bold);
        //@include px-with-rem(line-height, $gutter-height * 2);
        line-height: 1.5;

        color: #222;

        a {
          color: #222;
          text-decoration: none;

          &:hover,
          &:active,
          &.active {
            color: #DF483D;
          }
        }

        @include breakpoint($breakpoint-tablet) {
          @include px-with-rem(font-size, 24);
          @include px-with-rem(line-height, $gutter-height * 3);
        }
      } // .entry-title

      .meta {
        //@include px-with-rem(margin-bottom, $gutter-height);
        color: #9B9B9B;
        @include px-with-rem(font-size, 12);
        @include font-weight(regular);
        font-style: italic;
        @include px-with-rem(line-height, $gutter-height * 2);
        //line-height: 1.5;

        .author {
            font-style: normal;

          a {
            color: #9B9B9B;
            text-decoration: none;

            &:hover,
            &:active,
            &.active {
              color: #DF483D;
              text-decoration: underline;
            }
          }
        }

        a {
          color: #DF483D;
          font-style: normal;
          text-decoration: none;

          &:hover,
          &:active,
          &.active {
            text-decoration: underline;
          }
        }

        @include breakpoint($breakpoint-tablet) {
          @include px-with-rem(font-size, 14);
        }
      } // .meta
    } // header 

    .entry-content {
      color: #4A4A4A;
      @include px-with-rem(font-size, 14);
      @include font-weight(regular);
      line-height: 1.5;

      @include breakpoint($breakpoint-tablet) {
        @include px-with-rem(font-size, 16);
      }

      //@include px-with-rem(min-height, $gutter-height * 4); // for Vertical Rhythm debug.

      &.full-article {
        @include px-with-rem(padding-top, $gutter-height);
        @include px-with-rem(padding-bottom, $gutter-height * 2);
      }

      h1, h2, h3 {
        @include px-with-rem(margin-top, $gutter-height * 2);
        @include px-with-rem(margin-bottom, $gutter-height);
        color: #222;
        @include font-weight(medium);
        line-height: 1.5;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      h1 {
        @include px-with-rem(padding-bottom, $gutter-height);
        @include px-with-rem(font-size, 20);
        line-height: 1;
        border-bottom: 2px solid #222;
      }

      h2 {
        @include px-with-rem(padding-bottom, $gutter-height);
        @include px-with-rem(font-size, 18);
        line-height: 1;
        border-bottom: 1px solid #9B9B9B;
      }

      h3 {
        @include px-with-rem(font-size, 16);
      }

      @include breakpoint($breakpoint-tablet) { 
        h1 {
          @include px-with-rem(font-size, 22);
        }
        h2 {
          @include px-with-rem(font-size, 20);
        }
        h3 {
          @include px-with-rem(font-size, 18);
        }
      }

      a {
        display: inline-block;
        color: #DF483D;
        font-style: normal;
        text-decoration: none;

        &:hover,
        &:active,
        &.active {
          text-decoration: underline;
        }
      }

      strong {
        @include font-weight(medium);
      }

      > p {
        @include px-with-rem(margin-bottom, $gutter-height);
        @include clearfix;

        > code {
          padding: 1px 5px 1px;
          //@include px-with-rem(padding-left, 5);
          //@include px-with-rem(padding-right, 5);
          background: #f7f7f7;
          border: 1px solid #9B9B9B;
          @include border-radius(3px);
        }

        img {
          max-width: 100%;
        }
      }

      > iframe {
        max-width: 100%;
      }

      .block-center {
        display: block;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      > figure {
        @include px-with-rem(margin-bottom, $gutter-height);

        // Syntax highlight syles 
        @import "partials/main/syntax";
      }
      
      > blockquote {
        @include px-with-rem(margin-bottom, $gutter-height);
        @include px-with-rem(padding-left, 10);
        @include px-with-rem(padding-right, 10);
        
        font-style: italic;
        @include px-with-rem(font-size, 14);
        line-height: 1.5;
        white-space: pre-wrap;
        
        border-left: 4px solid #9B9B9B;  
      }

      > table {

        th {
          @include px-with-rem(padding-top, 0);
          @include px-with-rem(padding-right, 10);
          @include px-with-rem(padding-bottom, 0);
          @include px-with-rem(padding-left, 10);
          
          @include font-weight(medium);
          
          border: 1px solid #9B9B9B;
        }

        td {
          @include px-with-rem(padding-top, 0);
          @include px-with-rem(padding-right, 10);
          @include px-with-rem(padding-bottom, 0);
          @include px-with-rem(padding-left, 10);
          border: 1px solid #9B9B9B;
        }
      }

      > ul {
        @include px-with-rem(margin-bottom, $gutter-height);
        padding-left: 2em;
        list-style: disc;
        
        ul {
          padding-left: 2em;
          list-style: circle;

          ul {
            padding-left: 2em;
            list-style: square;
          }
        }
      }

      > ol {
        @include px-with-rem(margin-bottom, $gutter-height);
        padding-left: 2em;
        list-style: decimal;
      }

      > p, > figure, > blockquote, > ul {
        &:last-child {
          margin-bottom: auto;
        }
      }
      
    } // .entry-content

    footer {
      @include clearfix;
      
      .read-more {
        position: relative;
        float: right;

        display: inline-block;
        color: #DF483D;
        text-decoration: none;
        
        @include px-with-rem(font-size, 12);
        @include font-weight(medium);
        @include px-with-rem(line-height, $gutter-height * 2);

        @include breakpoint($breakpoint-tablet) {
          @include px-with-rem(font-size, 14);
          @include px-with-rem(line-height, $gutter-height * 3);
        }
        
        &:hover,
        &:active,
        &.active {
          text-decoration: underline;
        }
      } // .read-more

      .sharing {
        @include flexbox((
          display: box,
          box-orient: horizontal,
          box-align: center,
          box-pack: center
        ), $version: 1);
        @include flexbox((
          display: flex,
          flex-direction: row,
          align-items: center,
          justify-content: center
        ));

        @include breakpoint($breakpoint-desktop) {
          @include justify-content(flex-start);
        }

        .twitter-share-button {
          display: block !important;
          width: 110px !important;
        }

        [id^="___plusone"] {
          display: block !important;
          width: 88px !important;
        }

        .fb-like {
          display: block;
          height: 20px;
          > span {
            vertical-align: baseline !important;
          }
        }
      } // .fb-like
    } // footer
  } // article

  // =====================================
  // Pagination
  // =====================================

  .pagination {
    @include clearfix;

    @include px-with-rem(margin-bottom, $gutter-height);
    @include px-with-rem(padding-top, $gutter-height);
    border-top: 1px solid #9B9B9B;

    @include px-with-rem(font-size, 14);
    @include px-with-rem(line-height, $gutter-height * 2);
    text-align: center;

    a {
      color: #DF483D;
      text-decoration: none;

      &:hover,
      &:active,
      &.active {
        text-decoration: underline;
      }

      &.prev,
      &.left {
        float: left;
      }

      &.next,
      &.right {
        float: right;
      }
    }
  } // pagination

  // =====================================
  // Comments
  // =====================================

  .comments {
    @include px-with-rem(padding-top, $gutter-height);
    border-top: 1px solid #9B9B9B;

    > h1 {
      display: none;
    }
  }

  // =====================================
  // Sidebar
  // =====================================

  .sidebar {
    @include px-with-rem(padding-top, $gutter-height);
    border-top: 1px solid #9B9B9B;

    @include breakpoint($breakpoint-desktop) {
      @include span(4 last);
    }

    @include breakpoint($breakpoint-desktop) {
      padding-top: 0;
      padding-left: gutter();
      border-top: none;
    }

    section {
      @include px-with-rem(margin-bottom, $gutter-height);

      @include breakpoint($breakpoint-tablet) {
        @include px-with-rem(margin-bottom, $gutter-height * 2);
      }

      h1 {
        color: #222;
        @include px-with-rem(font-size, 16);
        @include font-weight(medium);
        @include px-with-rem(line-height, $gutter-height * 2);

        @include breakpoint($breakpoint-tablet) {
          @include px-with-rem(font-size, 20);
          @include px-with-rem(line-height, $gutter-height * 3);
        }
      }

      &.recent-posts {
        @include breakpoint($breakpoint-tablet) {
          @include span(6);
        }
        @include breakpoint($breakpoint-desktop) {
          @include span(full);
        }

        li {
          position: relative;
          padding-left: 16px;
          @include px-with-rem(font-size, 14);
          @include font-weight(regular);
          @include px-with-rem(line-height, $gutter-height * 2);
          @include ellipsis;

          @include breakpoint($breakpoint-tablet) {
            @include px-with-rem(font-size, 16);
          }

          &:before {
            content: '';
            @include vertical-center(absolute);
            left: 0;
            display: inline-block;
            @include image-background('list-style@2x.png', 2);
          }

          a {
            color: #4A4A4A;
            text-decoration: none;

            &:hover,
            &:active,
            &.active {
              color: #DF483D;
            }
          } // a
        } // li
      } // .recent-posts

      &.categories {
        @include breakpoint($breakpoint-tablet) {
          @include span(6 last);
        }
        @include breakpoint($breakpoint-desktop) {
          @include span(full);
        }

        li {
          position: relative;
          display: inline-block;
          @include px-with-rem(height, $gutter-height * 3);
          margin-right: 6px;
          @include px-with-rem(font-size, 14);

          @include breakpoint($breakpoint-tablet) {
            @include px-with-rem(font-size, 16);
          }

          a {
            @include vertical-center;

            display: block;
            @include px-with-rem(padding-left, 10);
            @include px-with-rem(padding-right, 10);

            color: #4A4A4A;
            text-decoration: none;
            line-height: 22px;

            @include breakpoint($breakpoint-tablet) {
              line-height: 26px;
            }

            border: 2px solid #4A4A4A;
            @include border-radius(4px);

            &:hover,
            &:active,
            &.active {
              color: #fff;
              background: #DF483D;
              border: 2px solid #DF483D;
            }
          } // a
        } // li
      } // .categories

      &.follow-us {
        @include breakpoint($breakpoint-tablet) {
          @include span(6 last);
        }
        @include breakpoint($breakpoint-desktop) {
          @include span(full);
        }

        ul {
          @include px-with-rem(height, $gutter-height * 3);

          @include flexbox((
            display: box,
            box-orient: horizontal,
            box-align: center,
            box-pack: start
          ), $version: 1);
          @include flexbox((
            display: flex,
            flex-direction: row,
            align-items: center,
            justify-content: flex-start
          ));

          li {
            margin-right: 10px;

            a {
              display: block;
              @include hide-text;
              @include px-with-rem(line-height, $gutter-height * 3);
              @extend %main-sprite-base;

              &.github {
                @include sprite-part($main-sprite, 'icon-github@2x', 2);

                &:hover,
                &:active,
                &.active {
                  @include sprite-part($main-sprite, 'icon-github-active@2x', 2);
                }
              }

              &.twitter {
                @include sprite-part($main-sprite, 'icon-twitter@2x', 2);

                &:hover,
                &:active,
                &.active {
                  @include sprite-part($main-sprite, 'icon-twitter-active@2x', 2);
                }
              }

              &.rss {
                @include sprite-part($main-sprite, 'icon-rss@2x', 2);

                &:hover,
                &:active,
                &.active {
                  @include sprite-part($main-sprite, 'icon-rss-active@2x', 2);
                }
              }
            } // a
          } // li
        } // ul
      } // .follow-us

      &.github {
        @include px-with-rem(font-size, 14);
        @include font-weight(regular);
        line-height: 1.4;

        @include breakpoint($breakpoint-tablet) {
          @include span(6);
          @include px-with-rem(font-size, 16);
        }
        @include breakpoint($breakpoint-desktop) {
          @include span(full);
        }

        a {
          color: #DF483D;

          @include ellipsis;
          text-decoration: none;

          &:hover,
          &:active,
          &.active {
            color: #DF483D;
            text-decoration: underline;
          }
        } // a

        #gh_repos {
          li {
            position: relative;
            @include px-with-rem(margin-bottom, $gutter-height / 2);
            padding-left: 16px;

            &:last-child {
              margin-bottom: auto;
            }
            
            &:before {
              content: '';
              @include vertical-center(absolute);
              left: 0;
              display: inline-block;
              @include image-background('list-style@2x.png', 2);
            }
            
            p {
              @include px-with-rem(font-size, 12);
              line-height: 1.4;
              @include ellipsis;

              @include breakpoint($breakpoint-tablet) {
                @include px-with-rem(font-size, 14);
              }
            }
          } // li
        } // .gh_repos
      } // .github

      &.language-switch {
        @include breakpoint($breakpoint-tablet) {
          @include span(6 last);
        }
        @include breakpoint($breakpoint-desktop) {
          @include span(full);
        }

        .language-list {
          @include flexbox((
            display: box,
            box-orient: horizontal,
            box-align: center,
            box-pack: start
          ), $version: 1);
          @include flexbox((
            display: flex,
            flex-direction: row,
            align-items: center,
            justify-content: flex-start
          ));
        }

        ul {
          @include px-with-rem(height, $gutter-height * 2);

          @include flexbox((
            display: box,
            box-orient: horizontal,
            box-align: center,
            box-pack: start
          ), $version: 1);
          @include flexbox((
            display: flex,
            flex-direction: row,
            align-items: center,
            justify-content: flex-start
          ));

          li {
            margin-right: 10px;
            @include px-with-rem(font-size, 14);

            @include breakpoint($breakpoint-tablet) {
              @include px-with-rem(font-size, 16);
            }

            a {
              position: relative;
              display: block;
              padding-left: 14px;
              color: #4A4A4A;
              text-decoration: none;

              &:before {
                content: '';
                @include vertical-center(absolute);
                left: 0;
                display: inline-block;
                @extend %main-sprite-base;
              }

              &:hover,
              &:active,
              &.active {
                color: #DF483D;

                &:before {
                  @include sprite-part($main-sprite, 'arrow-active@2x', 2);
                }
              }

              &[disabled] {
                color: #4A4A4A;

                &:before {
                  @include sprite-part($main-sprite, 'arrow@2x', 2);
                }
              }
            } // a
          } // li
        } // ul
      } // .language-switch
    } // section
  } // .sidebar

} // #content

.language-ja {
  #content {
    article footer .read-more {
      @include font-weight(bold);
    }

    .entry-content {
      h1, h2, h3 {
        @include font-weight(bold);
      }
      table th {
        @include font-weight(bold);
      }

      strong {
        @include font-weight(bold);
      }
    }

    .sidebar h1 {
      @include font-weight(bold);
    }
  } // #content
} // .language-ja

// =============================================================================
// Footer
// =============================================================================

#footer {
  background: #222;
  overflow: hidden;

  .share-buttons {

    @include px-with-rem(height, $gutter-height * 2);
    @include px-with-rem(margin-top, $gutter-height);

    @include flexbox((
      display: box,
      box-orient: horizontal,
      box-align: center,
      box-pack: center
    ), $version: 1);
    @include flexbox((
      display: flex,
      flex-direction: row,
      align-items: center,
      justify-content: center
    ));

    text-align: center;

    .twitter-share-button {
      display: block !important;
      width: 110px !important;
    }

    [id^="___plusone"] {
      display: block !important;
      width: 88px !important;
    }

    .fb-like {
      display: block;
      height: 20px;
      > span {
        vertical-align: baseline !important;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      @include span(isolate 6 at 4);
      @include px-with-rem(height, $gutter-height * 3);
      margin-top: 0;
    }
  } // .share-buttons

  .copyright {
    color: #9B9B9B;
    @include px-with-rem(font-size, 12);
    @include px-with-rem(line-height, $gutter-height * 2);
    text-align: center;

    @include breakpoint($breakpoint-tablet) {
      @include span(3);
      @include px-with-rem(font-size, 14);
      @include px-with-rem(line-height, $gutter-height * 3);
    }
  } // .copyright

  .powered-by {
    @include px-with-rem(margin-bottom, $gutter-height);

    color: #9B9B9B;
    @include px-with-rem(font-size, 12);
    @include px-with-rem(line-height, $gutter-height);
    text-align: center;

    a {
      color: #9B9B9B;
      text-decoration: none;

      &:hover,
      &:active,
      &.active {
        text-decoration: underline;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      @include span(3 last);
      margin-bottom: 0;
      @include px-with-rem(font-size, 14);
      @include px-with-rem(line-height, $gutter-height * 3);
    }
  } // .powered-by
} // #footer

@include sticky-footer($gutter-height * 7 + px, "#main-container", "#sticky-footer-area", "#footer");

@include breakpoint($breakpoint-tablet) {
  #footer,
  #main-container #sticky-footer-area {
    @include px-with-rem(height, $gutter-height * 3);
  }

  #main-container {
    @include px-with-rem(margin-bottom, - $gutter-height * 3);
  }
}
